<mat-tab-group mat-align-tabs="center">
  <mat-card></mat-card><mat-tab label="Pilotos">         

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
      
    <table mat-table [dataSource]="dataSourcePilotos" class="mat-elevation-z8">
      
      <!-- Position Column -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Cat. </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
      </ng-container>
      
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
            
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
      </ng-container>

      <ng-container matColumnDef="control">
        <th mat-header-cell *matHeaderCellDef> Control </th>
        <td mat-cell *matCellDef="let element"> {{element.control}} </td>
      </ng-container>

      <ng-container matColumnDef="tiempo">
        <th mat-header-cell *matHeaderCellDef> Hora </th>
        <!--
          Formato con Fecha y Hora
           <td mat-cell *matCellDef="let element"> {{ element.tiempo.time | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
        -->
        <td mat-cell *matCellDef="let element"> {{ element.tiempo.time | date: 'HH:mm:ss'}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      

  </mat-tab>
  <mat-tab label="Resultado">
    <mat-card>
        <mat-form-field>
            <input matInput (keyup)="applyFilterResultados($event.target.value)" placeholder="Buscar">
        </mat-form-field>

        <table mat-table [dataSource]="dataSourceResultados" matSort class="mat-elevation-z8">
      
            <!-- Position Column -->
            <ng-container matColumnDef="numero">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
            </ng-container>
      
            <ng-container matColumnDef="categoria">
              <th mat-header-cell *matHeaderCellDef> Cat. </th>
              <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
            </ng-container>
                  
            <ng-container matColumnDef="apellido">
              <th mat-header-cell *matHeaderCellDef> Apellido </th>
              <td mat-cell *matCellDef="let element"> {{element.apellido}}</td>
            </ng-container>
      
            <ng-container matColumnDef="partida">
              <th mat-header-cell *matHeaderCellDef> Partida </th>
              <td mat-cell *matCellDef="let element"> -{{ element.partida.time | date: 'HH:mm'}}-</td>
            </ng-container>
      
            <ng-container matColumnDef="punto1">
              <th mat-header-cell *matHeaderCellDef> Punto1 </th>
              <td mat-cell *matCellDef="let element"> -{{ element.punto1 }}-</td>
            </ng-container>

            <ng-container matColumnDef="punto2">
              <th mat-header-cell *matHeaderCellDef> Punto2 </th>
              <td mat-cell *matCellDef="let element"> -{{ element.punto2 }}-</td>
            </ng-container>

            <ng-container matColumnDef="punto3">
              <th mat-header-cell *matHeaderCellDef> Punto3 </th>
              <td mat-cell *matCellDef="let element"> -{{ element.punto3.time | date: 'HH:mm:ss' }}-</td>
            </ng-container>

            <ng-container matColumnDef="resultado">
              <th mat-header-cell *matHeaderCellDef> Resultado </th>
              <td mat-cell *matCellDef="let element"> -{{ element.resultado }}-</td>
            </ng-container>
          
            <ng-container matColumnDef="ranking">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Ranking </th>
              <td mat-cell *matCellDef="let element"> -{{ element.ranking }}</td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnsResult"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsResult;"></tr>
          </table>
    </mat-card>
  </mat-tab>
</mat-tab-group>