<div id="content">    
  <br>
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Construhogar</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/construhogar.jpg">
      <mat-card-content>
        <p>
            <a href="mailto:construhogar.ventas@hotmail.com">construhogar.ventas@hotmail.com</a>        
        </p>
      </mat-card-content>
  </mat-card>
  <br>
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Allku Expert</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/ideasenqubits.png">
      <mat-card-content>
        <p>
            <a href="https://www.allku.expert" target="_blank">www.allku.expert</a>        
        </p>
      </mat-card-content>
  </mat-card>
  <br>
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Enduro Miles</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/enduromiles.jpeg">
  </mat-card>

</div>